@model Serenity.Models.ActivityModel

@{
    ViewBag.Title = "RateActivity";
}

<h2>Rate @Model.ActivityName</h2>

@using (Html.BeginForm("RateActivity", "Home", FormMethod.Post))
{
    @*<label>Did this activity help you?</label>*@
    @*<br />*@
    <label>Please rate this activity:</label>
    <br />
    @Html.RadioButton("NewRating", 1);
    <p>1</p>
    @Html.RadioButton("NewRating", 2);
    <p>2</p>
    @Html.RadioButton("NewRating", 3);
    <p>3</p>
    @Html.RadioButton("NewRating", 4);
    <p>4</p>
    @Html.RadioButton("NewRating", 5);
    <p>5</p>
    <br />
    <input type="submit" value="Submit" validationGroup="AllValidators"/>
}